*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
   width: 100vw;
   height: 100vh;
   position: absolute;
}

#welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.showSection{
    z-index: 1;
}